/* font style */
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* main */
* {
  list-style: none;
  font-family: "Urbanist", sans-serif;
}

:root {
  --main-color: #053c73;
  --secondary-color: #ecf4ff;
  --font: 'Poppins', sans-serif;
}

.section-header {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.section-header h3 {
  color: var(--main-color);
  font-size: 3rem;
  display: inline-block;
}

/* Background Colors start */
.bg-main {
  background-color: var(--main-color);
}

.bg-secondary-b {
  background-color: var(--secondary-color);
}

/* Background Colors end */

/* Font colors start */
.text-b {
  color: var(--main-color);
}

.text-b-secondary {
  color: var(--secondary-color);
}

/* Font colors emd */

/* Font size start */
.fs-13 {
  font-size: 13px;
}

/* Font size emd */

/* Paddings start*/
.py-80 {
  padding: 80px 0px;
}

/* Padding end */

/* Header start */
.facebook {
  color: #1877F2;
}

.instagram {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.whatsapp {
  color: #075E54;
}

.linkdin {
  color: #0A66C2;
}

/* Show the header with a smooth transition */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1000;
  opacity: 1;
}

/* Hide the header when scrolling down */
.hide-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  /* Moves the header out of view */
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1000;
  opacity: 0;
}


/* Herader end */

/* Hero home start */
.hero-home-main {
  word-spacing: 2px;
  letter-spacing: 0.5px;
}

.slider-logo {
  /* filter: grayscale(100%); */
  filter: brightness(0%);
  transition: ease-in-out .3s;
}

.slider-logo:hover {
  /* filter: grayscale(0%); */
  filter: brightness(100%);
  cursor: pointer;
  transition: ease-in-out .3s;
}

/* Hero home end */

.footer-logo {
  filter: contrast(0%) brightness(200%);
}

.footer-head::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 10%;
  height: 1px;
  border-radius: 5px;
  background-color: white;
}

.footer-end::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #758ba5;
}

/* hover */
.custom-button {
  --dark: #181818;
  --light: #d9d9d9;
  --active: 0;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transform-origin: center;
  background-color: transparent;
  border: none;
}

.custom-button:hover {
  --active: 1;
}

.custom-button:hover .text_button {
  color: #758ba5;
  transition: 0.5s ease-in-out;
}

.icon_cont {
  overflow: hidden;
  /* Changed from clip to hidden */
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--active) * 1rem + (1 - var(--active)) * 0.5rem);
  height: calc(var(--active) * 1rem + (1 - var(--active)) * 0.5rem);
  background-color: hsla(0, 0%, 85%, var(--active));
  border: 1px solid var(--light);
  border-radius: 9999px;
  transition: all 0.5s ease-in-out;
}

.icon {
  font-size: 0.75rem;
  color: var(--dark) !important;
  line-height: 1rem;
  transform: translateX(calc(-1rem * (1 - var(--active))));
  transition: 0.5s ease-in-out;
}

.text_button {
  position: relative;
  display: inline-block;
  padding-block: 0.4rem;
  color: var(--light);
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
}

.shadow-b {
  box-shadow: 0px 0px 7px 1px #6681a76e;
  transition: 0.3s ease-in-out;
}

/* button hover efect */
.btn-1 {
  display: inline-block;
  padding: 5px 24px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: var(--main-color) !important;
  z-index: 1;
}

.btn-1:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: var(--main-color) !important;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-1:after {
  content: '';
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--main-color) !important;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-1:hover {
  color: #ffffff !important;
}

.btn-1:hover:before {
  top: -35%;
  background-color: var(--main-color) !important;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-1:hover:after {
  top: -45%;
  background-color: var(--main-color) !important;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-1 {
  display: inline-block;
  padding: 5px 24px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: var(--main-color) !important;
  z-index: 1;
}

.btn-1:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: var(--main-color) !important;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-1:after {
  content: '';
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--main-color) !important;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-1:hover {
  color: #ffffff !important;
}

.btn-1:hover:before {
  top: -35%;
  background-color: var(--main-color) !important;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-1:hover:after {
  top: -45%;
  background-color: var(--main-color) !important;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-2 {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  color: #ffffff !important;
}

.btn-2:before {
  background-color: var(--secondary-color) !important;
}

.btn-2:after {
  background-color: var(--secondary-color) !important;
}

.btn-2:hover {
  color: var(--main-color) !important;
}

.btn-2:hover:before {
  background-color: var(--secondary-color) !important;
}

.btn-2:hover:after {
  background-color: var(--secondary-color) !important;
}

/* Footer end */

/* Services start */
.gallery .left .details {
  height: 100vh;
}

.gallery .left .details h3 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 15px;
}

.gallery .left .details p {
  font-size: 20px;
  font-weight: lighter;
  color: #3b4c61;
  text-align: justify;
  font-weight: 600;
}

.gallery .rightblock .photo img {
  object-fit: cover;
}

.rightblock .box {
  width: 100%;
  height: 75vh;
  border-radius: 40px 0px 40px 0px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px #6681a7;
}

@media (min-width: 576px) and (max-width: 992px) {
  .rightblock .box {
    height: 40vh;
  }

  .gallery .left .details h3 {
    font-size: 32px;
  }

  .gallery .left .details p {
    font-size: 18px;
  }
}

@media (max-width: 575.98px) {
  .p1 {
    display: none;
  }

  .gallery .left .details h3 {
    font-size: 20px;
  }

  .gallery .left .details {
    height: auto;
  }

  .gallery .left .details p {
    font-size: 16px;
  }
}

/* Services end */

/* Product start */
#image {
  height: 100vh;
  width: 100% !important;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.product .pin-spacer {
  width: 100vw !important;
  height: 100vh !important;
  z-index: 0 !important;
}

#centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#text {
  z-index: 2;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#text div {
  background: white;
}

h1 {
  padding: 30px;
}

.spacer {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  position: relative;
}

.pattern-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url();
  background-size: cover;
  opacity: 0;
}

.pi {
  width: 17%;
}

@media (min-width: 576px) and (max-width: 992px) {
  .pi {
    width: 35%;
  }
}

@media (max-width: 575.98px) {
  .pi {
    width: 70%;
  }
}

/* Product end */

/* About us start*/
.bg-b1 {
  background-image: url(../src/Images/1000093836.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.image-box {
  background-color: rgb(135 209 255);
}
.image-box img {
  object-fit: cover;
  object-position: top center;
}
.about-circle {
  width: 150px;
  top: 30px;
  left: -60px; 
}
.about-details p{
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 1.7;
  font-size: 17px;
  font-weight: 600;
  padding: 160px 0 0 100px;
}
.about-title {
  width: auto;
  top: 80px;
  left: 52%;
  transform: translateX(-50%);
  font-size: 6.875rem;
  z-index: 2;
  white-space: nowrap;
  letter-spacing: 2px;
  text-shadow: -2px 2px 5px;
}
.about-circle-2 {
  width: 90%; 
  top: -300px; 
  right: -300px;
  z-index: -1;
  opacity: 0.2 
}
.about-line {
  width: 50%; 
  height: 10px; 
  bottom: 0;
  right: 10px; 
  background: rgb(99, 195, 255);
  background: linear-gradient(55deg, rgba(99, 195, 255, 1) 0%, rgba(29, 49, 181, 1) 82%, rgba(29, 49, 181, 1) 100%);
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about-details p{
    padding: 120px 0 0 50px;
  }
}

@media (max-width: 991.99px) {
  .about-details p {
    padding: 20px 0 0 0px;
    text-align: justify;
  }
  .about-title {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .about-title {
    font-size: 3rem;
  }
}
/* About us end*/

/* our team start*/
.team-img-box {
  width: 100%;
  height: 400px;
  max-height: 400px;
  overflow: hidden;
  box-sizing: 0px 0px 10px 10px rgb(0, 0, 0);
}
.team-img-box .team-photo {
  width: 100%;
  inset: 0;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  z-index: 1;
}
.team-img-box .team-png {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: -3px;
  left: 0;
  color: red;
  z-index: 2;
}
.team-details {
  z-index: 3;
  top: 0;
  width: 100%;
}

/* our team end*/

/* product start*/

.red {
  background: red;
}

.orange {
  background: orange;
}

.purple {
  background: purple;
}

.panel {
  width: 100%;
  height: 100vh;
  /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 3em;
  /* Increase font size for better visibility */
  color: white;
}

/* product end*/

/*Contact us start*/
.form-control {
  background-color: transparent !important;
  border-color: var(--main-color) !important;
  font-weight: 500 !important;
}

.form-control:focus {
  box-shadow: none !important;
}

/*Contact us end*/

/* .panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 100vh;          
} */

.line {
  display: inline-block;
  height: 10px;
  width: 100%;
  background-color: black;
  transform-origin: left center;
  margin-bottom: 20px;
}

/* From Uiverse.io by dylanharriscameron */
.card-11 {
  position: relative;
  width: 100%;
  height: 65vh;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
  justify-content: center;
  box-shadow: 10px 10px 30px #deebfd, -10px -10px 30px #eaf4ff;
  ;
}

.bg {
  position: absolute;
  inset: 5px;
  z-index: 2;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid rgb(255, 255, 255);
}

.bg img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  object-position: center center;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-color);
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

/*Cursor css Start*/
.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #000f53;
  /* background-color: black; */
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}



/* Hover state when over an image or button */
.custom-cursor.hover {
  width: 30px;
  height: 30px;
  background-color: #000f5388;
  border: 2px solid inherit;  /* Change the style here */
}

/*Cursor css End*/